<div class="navbar__inner">
    <a draggable="false" routerLink="/home">
        Nav 
    </a>

    <span>
        <a class="link" draggable="false" routerLink="/home">Home</a>
        <a class="link" draggable="false" routerLink="/projects">Projects</a>
        <a class="link" draggable="false" routerLink="/timeline">Timeline</a>
        <a class="link" draggable="false" routerLink="/accomplishments">Accomplishments</a>
        <a class="link" draggable="false" routerLink="/contact-us">Contact Me</a>
    </span>
</div>